/* Remove item markers from lists */
.item-list .digitalnz-images li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
}

.item-list .digitalnz-results li {
  list-style-type: none;
  background-image: none;
  margin: 0;
  padding: 0;
}